.footer {
   height: 151px;
    background-color: var(--secondary-bg-color);
}

.footer__content {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   color:#fff;
}

.name {
   font-size: 21px;
   font-weight: 500;
   margin-bottom: 10px;
   font-family: var(--main-font-family);
}

.rights {
   font-size: 13px;
   font-weight: 400;
   font-family: var(--main-font-family);
}
