* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "RobotoRegular"; */
}

 .container {
    padding: 0 400px;
 }

 :root   {
    --main-bg-color: #EEEFF1;
    --secondary-bg-color: #34547A;
    --main-font-family: "RobotoRegular";
 }
 

