.first-screen {
    background-color: var(--main-bg-color);
    height: 526px;
    padding-top: 83px;
 }

 .first-screen__text {
   margin: 57px 0 0;
   text-align: start;
}

.first-screen__button {
    margin-top: 65px;
    width: 225px;
    height: 65px;
    background-color: var(--secondary-bg-color);
    text-transform: uppercase;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--main-font-family);
}

.second-screen {
   padding-top: 112px;
   width: 100%;
   background-color: #fff;
}

.third-screen {
   margin-top: 100px;
   width: 100%;
   height: 250px;
   background-color: var(--secondary-bg-color);
}

.third-screen .container {
   display: flex;
   align-items: center;
   justify-content: center;
}

.projects {
   display: flex;
}

.project {
   width: 120px;
   height: 50px;
}

.project img {
   width: 100%;
   height: 100%;
}

 @media (max-width: 768px) {
   .project {
      width: 80px;
      height: 40px;
   }
}

@media (max-width: 500px) {
    .project {
      width: 65px;
      height: 30px;
    }
}

@media (max-width: 420px) {
    .project {
      width: 55px;
      height: 30px;
    }
}

.fourth-screen {
   height: 1004px;
   padding: 100px 0;
   background-color: #EEEFF1;
}

.fourth-screen__img {
   margin-top: 50px;
   height: 600px;
   width: 100%;
}

@media (max-width: 500px) {
   .fourth-screen__img {
      
      height: 500px;
   }
}